<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Reportes</title>
    <link rel="icon" type="image/x-icon" href="images/menu/utn.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
</head>

<body class="bg-image" style="background-image: url('images/menu/2258.jpg'); height: 100vh">
    <header class="navbar navbar-expand-lg navbar-light bg-light ps-4 opacity-75">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">Bienvenido</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/menu">Home</a>
                </li>
            </ul>
        </div>

        <a class="nav-link" style="margin-right: 40px;" href="/menu/logout" >Logout</a>

    </header>
    
    
    <div class="d-flex justify-content-center">
        <h2 class="p-3 mb-2 bg-light text-dark mt-5">Reportes</h2>
    </div>

    <div style="margin-top: 50px; margin-left: 60px;">
        <nav aria-label="breadcrumb" style="margin-bottom: 30px;">
            <button type="button" class="btn btn-success mb-2">
                <a href="/menu/trabajador/reportes/composicionHCTerritorio" style="color: inherit">
                    <h3>Composicion de HC de un territorio</h3>
                </a>
            </button>
        </nav>
        <nav aria-label="breadcrumb" style="margin-bottom: 30px;">
            <button type="button" class="btn btn-success mb-2">
                <a href="/menu/trabajador/reportes/composicionHCPais" style="color: inherit">
                    <h3>Composicion de HC a nivel pais</h3>
                </a>
            </button>
        </nav>
        <nav aria-label="breadcrumb" style="margin-bottom: 30px;">
            <button type="button" class="btn btn-success mb-2">
                <a href="/menu/trabajador/reportes/composicionHCOrganizacion" style="color: inherit">
                    <h3>Composicion de HC de la organizacion</h3>
                </a>
            </button>
        </nav>
        <nav aria-label="breadcrumb" style="margin-bottom: 30px;">
            <button type="button" class="btn btn-success mb-2">
                <a href="/menu/trabajador/reportes/HCTotalTerritorio" style="color: inherit">
                    <h3>HC total por sector territorial</h3>
                </a>
            </button>
        </nav>
        <nav aria-label="breadcrumb" style="margin-bottom: 30px;">
            <button type="button" class="btn btn-success mb-2">
                <a href="/menu/trabajador/reportes/evolucionHCTerritorio" style="color: inherit">
                    <h3>Evolucion de HC de un territorio</h3>
                </a>
            </button>
        </nav>
        <nav aria-label="breadcrumb" style="margin-bottom: 30px;">
            <button type="button" class="btn btn-success mb-2">
                <a href="/menu/trabajador/reportes/HCTipoOrganizacion" style="color: inherit">
                    <h3>HC total por tipo de organizacion</h3>
                </a>
            </button>
        </nav>
        <nav aria-label="breadcrumb">
            <button type="button" class="btn btn-success mb-2">
                <a href="/menu/trabajador/reportes/evolucionHCOrganizacion" style="color: inherit">
                    <h3>Evolucion de HC de una organizacion</h3>
                </a>
            </button>
        </nav>
    </div>

    <div style="float: left; margin-left: 600px; margin-top: 150px;">
        <table class="table table-bordered bg-light">
            <thead>
                <tr>
                    <th scope="col">Municipio</th>
                    <th scope="col">Provinicia</th>
                    <th scope="col">Mes</th>
                    <th scope="col">Año</th>
                </tr>
            </thead>
            <tbody>
                <form action="/menu/trabajador/reportes/evolucionHCTerritorio" method="post">
                    <tr>
                        <td><input type="text" class="form-control" placeholder="..." aria-label="" aria-describedby="basic-addon1" name="municipio"></td>
                        <td><input type="text" class="form-control" placeholder="..." aria-label="" aria-describedby="basic-addon1" name="provinicia"></td>
                        <td><input type="text" class="form-control" placeholder="..." aria-label="" aria-describedby="basic-addon1" name="mes"></td>
                        <td><input type="text" class="form-control" placeholder="..." aria-label="" aria-describedby="basic-addon1" name="anio"></td>
                        
                    </tr>
                    <tr>
                        <td colspan="2"><button class="w-100 btn btn-lg btn-success" type="submit">Calcular</button></td>
                    </tr>
                </form>
            </tbody>
        </table>

        <table class="table table-bordered bg-light">
            {{#each reportes}}
                <tr>
                    <td class="d-flex justify-content-center fw-bold">Descripcion</td>
                    <td>{{this.descripcion}}</td>
                </tr>
                <tr>
                    <td class="d-flex justify-content-center fw-bold">Valor</td>
                    <td>{{this.valor}}</td>
                </tr>
                <tr>
                    <td class="d-flex justify-content-center fw-bold">Fecha</td>
                    <td>{{this.fecha}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</body>

</html>