<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body class="bg-image" style="background-image: url('../images/menu/2258.jpg'); height: 100vh;">
    <header class="navbar navbar-expand-lg navbar-light bg-light ps-4 opacity-75">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">Bienvenido {{trabajador.nombreDeUsuario}}</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/menu">Home</a>
                </li>
            </ul>
        </div>

        <a class="nav-link" style="margin-right: 40px;" href="/menu/logout" >Logout</a>

    </header>

    <div class="d-flex justify-content-center mt-5" style="font-size: 100px; color: white; text-shadow: 2px 2px black">
        ¿Como esta accediendo?</div>

    <div class="d-flex justify-content-center mt-5">
        <div class=" btn-group btn-group-lg justify-content-center" role="group" aria-label="Basic example"
            style="width: 900px; height: 100px">
            <button type="button" class="btn btn-light" style="margin-right: 80px;"><a href="/menu/organizacion"
                    style="color: inherit">Organizacion</a></button>
            <button type="button" class="btn btn-light"><a href="/menu/trabajador"
                    style="color: inherit">Trabajador</a></button>
            <button type="button" class="btn btn-light" style="margin-left: 80px;"><a href="/menu/agente"
                    style="color: inherit">Agente Sectorial</a></button>
        </div>
    </div>

    <div class="d-flex justify-content-center" style="margin-top: 400px;">
        <button type="button" class="btn btn-dark"><a href="/menu/administrador" style="color: inherit">Soy
                Administrador</a></button>
    </div>


</body>

</html>
